<div layout="column" layout-align="center center" layout-fill ng-controller="addAudienceController as control">	
	<div layout="column" layout-align="center center"  class="marco"  md-whiteframe="5" >													
        <h2 class="md-display-1 blue-text">Agregar Audiencia</h2>   
        <md-content layout-padding> 
          <div>
            <form name="diligenciaForm">
              <div layout-gt-sm="row">
                <md-input-container class="Box-form" >
					<label>Número Noticia Criminal.</label>
					<input ng-pattern="/^[0-9]{21}$/" md-maxlength="21"  minlength="21" required name="cui" ng-model="process.cui">

					<div class="hint" ng-if="!showHints">Ingrese número del proceso.</div>

					<div ng-messages="diligenciaForm.cui.$error" ng-if="!showHints">												 
						<div ng-message="required">Número del proceso es requerido.</div>												
						<div ng-message="minlength">Minimo 21 dígitos.</div>												
						<div ng-message="md-maxlength">Maximo 21 dígitos.</div>  
						<div ng-message="pattern">Ingrese solo dígitos númericos.</div>
																		          
					</div>
				</md-input-container>
				<div>
					<md-button ng-click="consultaProcess()" ng-disabled="diligenciaForm.cui.$invalid" class="md-raised md-primary">Consultar</md-button>
				</div>			
                
              
                <md-input-container  class="Box-form md-block">
                  <label>Fecha diligencia</label>
                  <md-datepicker required  ng-disabled="valido" name="fecha_diligencia" ng-model="NewEvent.fecha" md-placeholder="Click en la fecha">{{NewEvent.fecha}}</md-datepicker>
                </md-input-container>

                <mdp-time-picker  required  ng-disabled="valido" class="md-block" mdp-auto-switch="true" name="timeFormat" ng-model="NewEvent.hora" mdp-format="hh:mm A">
                 <label>Hora inicio</label>
                <div class="hint" ng-if="!showHints">Click icono hora.</div>
                <div ng-messages="diligenciaForm.timeFormat.$error">
                  <div ng-message="required">This is required</div>
                  <div ng-message="format">Invalid format</div>
                </div>
              </mdp-time-picker>  

                <mdp-time-picker ng-disabled="valido" class="md-block" mdp-auto-switch="true" name="timeFormat" ng-model="NewEvent.horaFinal" mdp-format="hh:mm A">
                 <label>Hora final</label>
                <div class="hint" ng-if="!showHints">Click icono hora.</div>
                <div ng-messages="diligenciaForm.timeFormat.$error">
                  <div ng-message="required">This is required</div>
                  <div ng-message="format">Invalid format</div>
                </div>
              </mdp-time-picker>                                       
              </div> 
              <md-subheader class="md-no-sticky"><b><I>Datos del proceso: </I></b></md-subheader>                         
              <div layout-gt-sm="row">
				<md-input-container  class="Box-form md-block">
					<label>Nombre del proceso</label>
					<input ng-disabled="true" name="nombre" ng-model="process.nombre" />

					<div class="hint" ng-if="!showHints">Nombre para recordar</div>

					
				</md-input-container>

				<md-input-container  class="Box-form md-block">
					<label>Etapa del Proceso</label>
					<input ng-disabled=true name="etapa" ng-model="process.etapa.nombre" />					
				</md-input-container>

				<md-input-container  class="Box-form md-block">
					<label>Estado del proceso</label>
					<input ng-disabled="true" name="etapa" ng-model="process.estado.nombre" />
				</md-input-container>
    		
               <md-tooltip md-direction="right">
						Digitar con tildes
				</md-tooltip>
				<md-autocomplete class="Box-form md-block" required  ng-disabled="valido"			
					md-autofocus="true"
					md-autoselect="true"													
					md-input-name="fiscal"
					md-selected-item="control.selectedItemFiscal"
					md-search-text="control.searchTextFiscal"
					md-items="item in control.buscarFiscal(control.searchTextFiscal)"
					md-item-text="item.nombre"
					md-require-match
					md-delay="300"					
					md-floating-label="Fiscal"
					ng-model="process.fiscal"
					ng-value="control.item._id"
					md-min-length="0"
					md-no-cache="noCacheResults"
					md-selected-item-change=control.selectedItemChangeFiscal(item)>

					<div layout="row" class="item" layout-align="start center">					
						<span md-highlight-text="control.searchTextFiscal" md-highlight-flags="^i" name="fiscal">{{item.nombre}} - {{item.oficina.nombre}}</span>  
					</div>								
				</md-autocomplete>
				
				<div class="md-block">
				 <md-checkbox   ng-model="audiencia.apoyo" >
				Fiscal de apoyo: {{audiencia.apoyo}}
				</md-checkbox>			
					
				</div>
					

              </div> 
              <md-subheader class="md-no-sticky"><b><I>Lugar de la diligencia: </I></b></md-subheader> 
              <div layout-gt-sm="row">
                <md-input-container class="Box-form md-block" >
					<label>Pais</label>
					<md-select  ng-disabled="valido" name="pais" id="pais" ng-model="proces.pais">
						<md-option ng-value="pais" ng-repeat="pais in paises">{{pais.nombre}}</md-option>			
					</md-select>
					<div class="errors" ng-messages="processForm.pais.$error">
						<div ng-message="required">Required</div>
					</div>
				</md-input-container>	

				<md-tooltip md-direction="top">
						Digitar con tildes
				</md-tooltip>
				<md-autocomplete  class="Box-form md-block"  														
					ng-disabled="!proces.pais" 
					md-input-name="Departamento"
					md-selected-item="control.selectedItemDepartamento"
					md-search-text="control.searchTextDepartamento"
					md-items="item in control.buscarDepartamento(control.searchTextDepartamento)"
					md-item-text="item.nombre"
					md-require-match
					md-delay="300"					
					md-floating-label="Departamento"
					ng-model="proces.departamento"
					ng-value="control.item._id"
					md-min-length="1"
					md-no-cache="noCacheResults"
					md-selected-item-change=control.selectedItemChangeDepartamento(item)>

					<div layout="row" class="item" layout-align="start center">					
						<span md-highlight-text="control.searchTextDepartamento" name="departamento">{{item.nombre}}</span>  
					</div>								
				</md-autocomplete>

				<md-tooltip md-direction="right">
						Digitar con tildes
				</md-tooltip>
				<md-autocomplete class="Box-form md-block" 
					ng-disabled="!proces.departamento"											
					md-input-name="Municipio"
					md-selected-item="control.selectedItemMunicipio"
					md-search-text="control.searchTextMunicipio"
					md-items="item in control.buscarMunicipio(control.searchTextMunicipio)"
					md-item-text="item.nombre"
					md-require-match
					md-delay="300"					
					md-floating-label="Municipio"
					ng-model="process.lugar_hechos"
					ng-value="control.item._id"
					md-min-length="0"
					md-no-cache="noCacheResults"
					md-selected-item-change=control.selectedItemChangeMunicipio(item)>
					
					<div layout="row" class="item" layout-align="start center">					
						<span md-highlight-text="control.searchTextMunicipio" name="municipio">{{item.nombre}}</span>  
					</div>								
				</md-autocomplete>	

				<md-autocomplete class="Box-form md-block" 
					ng-disabled="!process.lugar_hechos"											
					md-input-name="juez"
					md-selected-item="control.selectedItemJuez"
					md-search-text="control.searchTextJuez"
					md-items="item in control.buscarJuez(control.searchTextJuez)"
					md-item-text="item.nombre"
					md-require-match
					md-delay="300"					
					md-floating-label="Juez"
					ng-model="process.lugar_hechos"
					ng-value="control.item._id"
					md-min-length="0"
					md-no-cache="noCacheResults"
					md-selected-item-change=control.selectedItemChangeJuez(item)>
					
					<div layout="row" class="item" layout-align="start center">					
						<span md-highlight-text="control.searchTextJuez" name="juez">{{item.nombre}}</span>  
					</div>								
				</md-autocomplete>

					                                                      
              </div>

              <md-button ng-disabled="!process.lugar_hechos" ng-click="guardarProcess()"  layout-wrap class="md-raised md-primary" >Guardar Diligencia</md-button> 

			</form>				
			</div>					
		</md-content>	
	</div>
</div>	