<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="modal-header">
	<h3 class="modal-title">Events</h3>
</div>
<div class="modal-body">
	<div class="error">{{Message}}</div>
	<div class="form-group">
		<label>Event Title: </label>
		<input type="text" ng-model="NewEvent.Title" autofocus class="form-control" name="">
	</div>
	<div class="form-group">
		<label>Description: </label>
		<input type="text" ng-model="NewEvent.Description" class="form-control" name="">
	</div>
	<div class="form-group">
		<label>Time Slot: </label>
		<span>{{NewEvent.StartAt}} - {{NewEvent.EndAt}}</span>
		<input type="text" ng-model="NewEvent.Description" class="form-control" name="">
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
	<button class="btn btn-danger" type="button" ng-show="NewEvent.EventID > 0" ng-click="delete()">Delete</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div> -->
<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Programar Audiencia</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="public/icons/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
   
      <div class="md-dialog-content">
        <div class="modal-header">
          <h3 class="modal-title">Events</h3>
        </div>
        <div class="modal-body">
          <div class="error">{{Message}}</div>
          <div class="form-group">
            <label>Event Title: </label>
            <input type="text" ng-model="NewEvent.Title" autofocus class="form-control" name="">
          </div>
          <div class="form-group">
            <label>Description: </label>
            <input type="text" ng-model="NewEvent.Description" class="form-control" name="">
          </div>
          <div class="form-group">
            <label>Time Slot: </label>
            <span>{{NewEvent.StartAt}} - {{NewEvent.EndAt}}</span>
            <!--<input type="text" ng-model="NewEvent.Description" class="form-control" name="">-->
          </div>
        </div>        
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>