<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Direccion Crimen Organizado</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">      
		<link rel="stylesheet" href="/public/css/app.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">	

		<link rel='stylesheet prefetch' href='https://cdn.rawgit.com/alenaksu/mdPickers/0.7.4/dist/mdPickers.min.css'>
	</head>
	<body ng-app="sampleApp" flex>
		<div class="container">
			<div class="row">        
				<div>
					<div ng-view="contenido"></div>
				</div>
			</div>
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>

		<!-- Angular Material requires Angular.js Libraries -->

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>

		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>  
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-calendar/1.0.0/calendar.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/gcal.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.2/ui-bootstrap-tpls.min.js"></script>

		<script src='https://cdn.rawgit.com/alenaksu/mdPickers/0.7.4/dist/mdPickers.min.js'></script>

		<!-- Angular Material Library -->
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
		<script src="app.js"></script>    
		<script src="main/controllers.js"></script>    
		<script src="main/sessionService.js"></script>
		<script src="head/dashboard-controller.js"></script>
		<script src="process/add-process-controller.js"></script>
		<script src="audience/add-audience-controller.js"></script>
		<script src="start/initiate-controller.js"></script>
		<script src="calendar/controllerCalendario.js"></script> 
		
	</body>
</html>
