<div ng-include="'head/dashboard.html'"></div>
<div   class="md-padding" layout="row" layout-align="center center" ng-controller="addProcessController as control" ng-cloak>
	<md-content flex="95">
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Proceso">
				<div layout="column" layout-align="center center" layout-fill>	
					<div layout="column" layout-align="center center"  class="marco"  md-whiteframe="5" > 		
						<h2 class="md-display-1 blue-text">Agregar Proceso</h2> 	
						<md-content layout-padding>	
							<div>
								<form name="processForm">
									<div layout-gt-sm="row">
										<md-input-container class="Box-form" >
											<label>Número Noticia Criminal.</label>
											<input ng-pattern="/^[0-9]{21}$/" md-maxlength="21"  minlength="21" required name="cui" ng-model="process.cui">

											<div class="hint" ng-if="!showHints">Ingrese número del proceso.</div>

											<div ng-messages="processForm.cui.$error" ng-if="!showHints">												 
												<div ng-message="required">Número del proceso es requerido.</div>												
												<div ng-message="minlength">Minimo 21 dígitos.</div>												
												<div ng-message="md-maxlength">Maximo 21 dígitos.</div>  
												<div ng-message="pattern">Ingrese solo dígitos númericos.</div>
																								          
											</div>
										</md-input-container>

										<div>
											<md-button ng-click="consultaProcess()" ng-disabled="processForm.cui.$invalid" class="md-raised md-primary">Consultar</md-button>
										</div>
										
										<md-input-container  class="Box-form md-block">
											<label>Fecha de denuncia</label>
											<md-datepicker required  ng-disabled="processForm.cui.$invalid" name="fecha_denuncia" ng-model="process.fecha_denuncia" md-placeholder="Click en la fecha"></md-datepicker>
										</md-input-container>

										<md-input-container  class="Box-form md-block">
											<label>Nombre del proceso</label>
											<input ng-disabled="processForm.cui.$invalid" md-maxlength="30" required name="nombre" ng-model="process.nombre" />

											<div class="hint" ng-if="!showHints">Nombre para recordar</div>

											<div ng-messages="userForm.name.$error" ng-if="!showHints">
												<div ng-message="required">Nombre del caso es requerido.</div>
												<div ng-message="md-maxlength">Maximo 30 caracteres.</div>
											</div>
										</md-input-container>									
									</div>				
									
									<div><label class="hint">Lugar de los hechos.</label></div>
									<div layout-gt-sm="row">
										<table class="table table-hover table-mc-light-blue border">
											<thead>					
												<tr>													
													<th>Pais</th>
													<th>Departamento</th>
													<th>Ciudad</th>																							
													<th>Acciones</th>
												
												</tr>					
											</thead>
											<tbody>											
												<tr ng-repeat="registro in lugares" >
													<td>{{registro.pais}}</td>
													<td>{{registro.departamento}}</td>
													<td>{{registro.municipio}}</td>													
													<td><md-button class="md-raised md-warn" ng-click="eliminarLugarHechos(registro.ubicacion)">Eliminar</md-button></td>			
												</tr>												
											</tbody>
										</table>		
									</div>		

									<div layout-gt-sm="row">
									  <md-input-container class="Box-form md-block">
											<label>Pais</label>
											<md-select  ng-disabled="processForm.cui.$invalid" name="pais" id="pais" ng-model="proces.pais">
												<md-option ng-value="pais" ng-repeat="pais in paises">{{pais.nombre}}</md-option>			
											</md-select>
											<div class="errors" ng-messages="processForm.pais.$error">
												<div ng-message="required">Required</div>
											</div>
										</md-input-container>	

										<md-tooltip md-direction="top">
												Digitar con tildes
										</md-tooltip>
										<md-autocomplete  class="Box-form md-block"  														
											ng-disabled="!proces.pais" 
											md-input-name="Departamento"
											md-selected-item="control.selectedItemDepartamento"
											md-search-text="control.searchTextDepartamento"
											md-items="item in control.buscarDepartamento(control.searchTextDepartamento)"
											md-item-text="item.nombre"
											md-require-match
											md-delay="300"					
											md-floating-label="Departamento"
											ng-model="proces.departamento"
											ng-value="control.item._id"
											md-min-length="1"
											md-no-cache="noCacheResults"
											md-selected-item-change=control.selectedItemChangeDepartamento(item)>

											<div layout="row" class="item" layout-align="start center">					
												<span md-highlight-text="control.searchTextDepartamento" name="departamento">{{item.nombre}}</span>  
											</div>								
										</md-autocomplete>

										<md-tooltip md-direction="right">
												Digitar con tildes
										</md-tooltip>
										<md-autocomplete class="Box-form md-block" 
											ng-disabled="!proces.departamento"											
											md-input-name="Municipio"
											md-selected-item="control.selectedItemMunicipio"
											md-search-text="control.searchTextMunicipio"
											md-items="item in control.buscarMunicipio(control.searchTextMunicipio)"
											md-item-text="item.nombre"
											md-require-match
											md-delay="300"					
											md-floating-label="Municipio"
											ng-model="process.lugar_hechos"
											ng-value="control.item._id"
											md-min-length="0"
											md-no-cache="noCacheResults"
											md-selected-item-change=control.selectedItemChangeMunicipio(item)>
											
											<div layout="row" class="item" layout-align="start center">					
												<span md-highlight-text="control.searchTextMunicipio" name="municipio">{{item.nombre}}</span>  
											</div>								
										</md-autocomplete>	
										<div>
											<md-button ng-disabled="!proces.departamento" class="md-primary md-raised" ng-click="agregarLugarHechos()">Agregar</md-button>	
										</div>
										
													 
									</div>

									<div layout-gt-sm="row">
										<md-input-container class="Box-form">
											<label>Fecha de los hechos</label>
											<md-datepicker required  ng-model="process.fecha_hechos"  md-current-view="year" md-placeholder="Click en la fecha"></md-datepicker>
										</md-input-container>

										<md-tooltip md-direction="right">
												Digitar con tildes
										</md-tooltip>
										<md-autocomplete class="Box-form md-block" required 
																						
											md-input-name="categoria"
											md-selected-item="control.selectedItemCategoria"
											md-search-text="control.searchTextCategoria"
											md-items="item in control.buscarCategoria(control.searchTextCategoria)"
											md-item-text="item.nombre"
											md-require-match
											md-delay="300"					
											md-floating-label="Categoria"
											ng-model="process.categoria"
											ng-value="control.item._id"
											md-min-length="0"
											md-selected-item-change=control.selectedItemChangeCategoria(item)>

											<div layout="row" class="item" layout-align="start center">					
												<span md-highlight-text="control.searchTextCategoria" name="categoria">{{item.nombre}}</span>  
											</div>								
										</md-autocomplete>

										<!--<md-chips ng-model='process.categoria' flex="80"    md-autocomplete-snap md-autocomplete-wrap-override>
											<md-autocomplete 
												flex="80"
												md-input-name="Modus Operandi"
												md-floating-label="Modus Operandi"
												md-selected-item="control.selectedItemCategoria"
												md-search-text="control.searchTextCategoria"
												md-items="item in control.buscarCategoria(control.searchTextCategoria)"
												md-item-text="item.nombre"
												md-min-length="0"
												md-select-on-match="true"
												md-match-case-insensitive="true"
												md-no-cache="true"
												>
												<span><strong>{{item.nombre}}</strong></span>
											</md-autocomplete>
											<md-chip-template>
												{{$chip.nombre}}
											</md-chip-template>
										</md-chips> -->

										<md-tooltip md-direction="right">
												Digitar con tildes
										</md-tooltip>
										<md-autocomplete class="Box-form md-block" required 
																						
											md-input-name="fiscal"
											md-selected-item="control.selectedItemFiscal"
											md-search-text="control.searchTextFiscal"
											md-items="item in control.buscarFiscal(control.searchTextFiscal)"
											md-item-text="item.nombre"
											md-require-match
											md-delay="300"					
											md-floating-label="Fiscal"
											ng-model="process.fiscal"
											ng-value="control.item._id"
											md-min-length="0"
											md-select-on-match="true"
											md-match-case-insensitive="true"
											md-no-cache="true"
											md-selected-item-change=control.selectedItemChangeFiscal(item)>

											<div layout="row" class="item" layout-align="start center">					
												<span md-highlight-text="control.searchTextFiscal" name="fiscal">{{item.nombre}} - {{item.oficina.nombre}}</span>  
											</div>								
										</md-autocomplete>				
										
									</div>
									<md-input-container class=" md-block">
									  <label>Breve Resumen de los Hechos</label>
									  <textarea ng-model="process.relato_hechos" md-maxlength="1000" rows="5" md-select-on-focus></textarea>
									</md-input-container>
									
									<md-button ng-click="guardarProcess()"  layout-wrap class="md-raised md-primary" >Guardar Noticia</md-button> 
									<!--	ng-disabled="processForm.$invalid" -->
								</form>				
							</div>					
						</md-content>	
					</div>
				</div>	
			</md-tab>
			<md-tab label="Indiciado" >	
						
				
			</md-tab>
			<md-tab label="Victima">
				
			</md-tab>
		</md-tabs>
	</md-content>
</div>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->