<div ng-include="'head/dashboard.html'"></div>
<div   class="md-padding" layout="row" layout-align="center center" ng-controller="addProcessController as control" ng-cloak>
	<md-content flex="95">
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab layout="row" label="Proceso">
				<form  name="processForm">
					<md-content flex="100" layout-align="center center" layout="column" layout-fill>			
						<h2 class="md-display-1">Agregar Proceso</h2> 
						<div layout="row" layout-align="center center" layout-xs="column"  layout-fill>	            
							<div layout-align="start center" layout="column" flex="20" layout-fill>
								<md-input-container layout-fill>
									<label>Numero Noticia Criminal</label>
									<input required type="number" ng-model="process.noticia">
								</md-input-container> 
							</div>
							<div layout-align="start center" layout-xs="row" layout="column" flex="10">
								<md-button ng-disabled="!process.noticia" ng-click="consultaProcess()"  class="md-raised md-primary">Consultar</md-button>
							</div>						
							<div layout-align="start end" layout="column"  layout-xs="row" flex="25" class="md-padding" layout-fill>
								<md-input-container  layout-fill>
										<label>Fecha de denuncia</label>
										<md-datepicker ng-model="process.fecha_de_denuncia"  md-current-view="year" md-placeholder="Click en la fecha"></md-datepicker>
								</md-input-container>
							</div>	                
						</div>
					   <div layout="row" layout-align="center center" layout-xs="column"  layout-fill>									
							<div layout-align="start center" layout="column" flex="15">
								<md-input-container layout-fill>
									<label>Pais</label>
									<md-select   name="pais" id="pais" ng-model="process.pais">
										<md-option ng-value="pais._id" ng-repeat="pais in paises">{{pais.nombre}}</md-option>			
									</md-select>
									<!--<div class="errors" ng-messages="processForm.pais.$error">
										<div ng-message="required">Required</div>
									</div>-->
								</md-input-container>	
							</div>
							<div layout-align="start center" layout="column" flex="20">
								<md-tooltip md-direction="top">
									Digitar con tildes
								</md-tooltip>
								<md-autocomplete  required flex="50" 															
									md-input-name="Departamento"
									md-selected-item="control.selectedItemDepartamento"
									md-search-text="control.searchTextDepartamento"
									md-items="item in control.buscarDepartamento(control.searchTextDepartamento)"
									md-item-text="item.nombre"
									md-require-match
									md-delay="300"					
									md-floating-label="Departamento"
									ng-model="process.departamento"
									ng-value="control.item._id"
									md-min-length="1"
									md-selected-item-change=control.selectedItemChangeDepartamento(item)>

									<div layout="row" class="item" layout-align="start center">					
										<span md-highlight-text="control.searchTextDepartamento" name="departamento">{{item.nombre}}</span>  
									</div>								
								</md-autocomplete>
							</div>
							<div layout-align="start end" layout="column" flex="20" >
								<md-tooltip md-direction="top">
									Digitar con tildes
								</md-tooltip>
								<md-autocomplete required layout-fill												
									md-input-name="Municipio"
									md-selected-item="control.selectedItemMunicipio"
									md-search-text="control.searchTextMunicipio"
									md-items="item in control.buscarMunicipio(control.searchTextMunicipio)"
									md-item-text="item.nombre"
									md-require-match
									md-delay="300"					
									md-floating-label="Municipio"
									ng-model="process.municipio"
									ng-value="control.item._id"
									md-min-length="0"
									md-selected-item-change=control.selectedItemChangeMunicipio(item)>

									<div layout="row" class="item" layout-align="start center">					
										<span md-highlight-text="control.searchTextMunicipio" name="municipio">{{item.nombre}}</span>  
									</div>								
								</md-autocomplete>
							</div>
						</div>					
						<div layout="row" layout-align="center center" layout-xs="column"  layout-fill>									
							<div layout-align="start center" layout="column" flex="30">
								<md-input-container flex-gt-xs layout-fill>
									<label>Fecha de los hechos</label>
									<md-datepicker ng-model="process.fecha_de_hechos"  md-current-view="year" md-placeholder="Click en la fecha"></md-datepicker>
								</md-input-container>
							</div>
							 <div layout-align="start center" layout="column" flex="20">
								<md-input-container>
									<label>Categoria</label>
									<md-select  name="categoria" ng-model="process.categoria">
										<md-option ng-value="categoria._id" ng-repeat="categoria in categorias">{{categoria.nombre}}</md-option>			
									</md-select>
									<div class="errors" ng-messages="processForm.categoria.$error">
										<div ng-message="required">Required</div>
									</div>
								</md-input-container>	
							 </div>
							<div layout-align="start center" layout="column" flex="5">
								
							</div>
						</div>
						<div layout-align="center center" layout="row" layout-fill>
							<md-content layout="row" layout-xs="column" layout-align="center center"  layout-fill>
								 <md-input-container flex="60" class="md-block">
									<label>Breve Resumen de los Hechos</label>
								<textarea ng-model="process.hechos" md-maxlength="400" rows="5" md-select-on-focus></textarea>
								</md-input-container>
							</md-content>	               
						</div>
						<md-button ng-click="consultaProcess()"  layout-wrap class="md-raised md-primary" ng-disabled="processForm.$invalid">Guardar Noticia</md-button>	
					</md-content>						
				</form>
			</md-tab>
			<md-tab label="Indiciado">			

			</md-tab>
			<md-tab label="Victima">
				
			</md-tab>
		</md-tabs>
	</md-content>
</div>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->