<div ng-if="!oneChoice">
	<div ng-include="'head/dashboard.html'"></div>
</div>
<div  ng-controller="addAudienceController" class="md-padding" layout="row" layout-align="center center" ng-cloak>
	<md-content flex="95">
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Proceso">
				<div layout="column" layout-align="center center" layout-fill>	
					<div layout="column" layout-align="center center"  class="marco"  md-whiteframe="5" > 		
						<h2 class="md-display-1 blue-text">Agregar Audiencia</h2> 	
						<md-content layout-padding>	
							<div>
								<form name="processForm">
									<div layout-gt-sm="row">
										<md-input-container class="Box-form" >
											<label>Número Noticia Criminal.</label>
											<input ng-pattern="/^[0-9]{21}$/" md-maxlength="21"  minlength="21" required name="cui" ng-model="process.cui">

											<div class="hint" ng-if="!showHints">Ingrese número del proceso.</div>

											<div ng-messages="processForm.cui.$error" ng-if="!showHints">												 
												<div ng-message="required">Número del proceso es requerido.</div>												
												<div ng-message="minlength">Minimo 21 dígitos.</div>												
												<div ng-message="md-maxlength">Maximo 21 dígitos.</div>  
												<div ng-message="pattern">Ingrese solo dígitos númericos.</div>
																								          
											</div>
										</md-input-container>

										<div>
											<md-button ng-click="consultaProcess()" ng-disabled="processForm.cui.$invalid" class="md-raised md-primary">Consultar</md-button>
										</div>
										
										<md-input-container  class="Box-form md-block">
											<label>Fecha diligencia</label>
											<md-datepicker required  ng-disabled="processForm.cui.$invalid" name="fecha_denuncia" ng-model="process.fecha_denuncia" md-placeholder="Click en la fecha"></md-datepicker>
										</md-input-container>

										<md-input-container  class="Box-form md-block">
											<label>Nombre del proceso</label>
											<input ng-disabled="processForm.cui.$invalid" md-maxlength="30" required name="nombre" ng-model="process.nombre" />

											<div class="hint" ng-if="!showHints">Nombre para recordar</div>

											<div ng-messages="userForm.name.$error" ng-if="!showHints">
												<div ng-message="required">Nombre del caso es requerido.</div>
												<div ng-message="md-maxlength">Maximo 30 caracteres.</div>
											</div>
										</md-input-container>									
									</div>				
									
								</form>				
							</div>					
						</md-content>	
					</div>
				</div>	
			</md-tab>
			<md-tab label="Indiciado" >	
						
				
			</md-tab>
			<md-tab label="Victima">
				
			</md-tab>
		</md-tabs>
	</md-content>
</div>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->